<div class="flex flex-col w-full items-center gap-8 md:gap-0 justify-between md:flex-row">
  <div class="md:w-1/3">
    <h3 class="text-3xl font-medium font-logo mb-2 text-center">2025</h3>
    <ul class="list-disc list-inside space-y-1 text-center text-base md:text-sm">
      <li>Form early community</li>
      <li>Acquire first assets</li>
      <li>Run pilot projects</li>
    </ul>
  </div>
  <div class="md:w-1/3">
    <h3 class="text-3xl font-medium font-logo mb-2 text-center">2026</h3>
    <ul class="list-disc list-inside space-y-1 text-center text-base md:text-sm">
      <li>Expand equipment library</li>
      <li>Connect with hardware companies</li>
      <li>International expansion</li>
    </ul>
  </div>
  <div class="md:w-1/3">
    <h3 class="text-3xl font-medium font-logo mb-2 text-center">2027+</h3>
    <ul class="list-disc list-inside space-y-1 text-center text-base md:text-sm">
      <li>Comprehensive infrastructure</li>
      <li>Recognized innovation hub</li>
      <li>Sustainable ecosystem</li>
    </ul>
  </div>
</div>
