---
import BackgroundWave from "./BackgroundWave.tsx";
import WelcomeButtons from "./welcome-buttons.tsx";
---

<div
  class="relative mx-auto flex flex-col justify-center pt-20 md:pt-40 pb-8 px-4 md:px-16"
>
  <BackgroundWave client:load colorFront="#fff4fe" rotation={180} pxSize={18} />
  <div class="relative z-10 flex flex-col items-center justify-center">
    <h1
      class="text-7xl md:text-9xl text-indigo-800 font-logo mb-4 font-medium text-center tracking-tight whitespace-nowrap"
    >
      Thinkin' Rocks
    </h1>
    <h2
      class="text-2xl w-full mb-8 md:text-3xl font-medium font-mono text-center tracking-tight md:leading-10"
    >
      Access <span class="bg-amber-100 px-2 -mx-2">cutting-edge hardware</span> at
      our community-driven lab.
    </h2>
    <WelcomeButtons client:load />
  </div>
</div>
