---
import BackgroundWave from "./BackgroundWave.tsx";
import WelcomeButtons from "./welcome-buttons.tsx";
import logo from "../assets/TR-LOGO.svg";
import { Image } from "astro:assets";
---

<div
  class="relative mx-auto flex flex-col justify-center pt-32 pb-8 px-4 md:px-16"
>
  <BackgroundWave client:load colorFront="#fff4fe" rotation={180} pxSize={18} />
  <div
    class="relative z-10 max-w-5xl mx-auto w-full flex flex-wrap justify-between gap-x-8"
  >
    <div>
      <h1
        class="text-6xl mb-2 md:text-7xl max-w-3xl text-purple-800 font-display font-bold leading-tighter tracking-normal fade-in"
      >
        Turn white <span class="whitespace-nowrap">papers into</span> working products
      </h1>
      <!-- <div class="w-full mb-18 md:w-1/2 md:mb-8 text-purple-800">
      <Image
        src={logo}
        alt="Thinkin' Rocks"
        class="w-full h-full object-contain"
      />
    </div> -->
      <h2
        class="text-lg hidden md:block w-full mb-4 md:text-xl font-mono tracking-tight md:leading-10 fade-in"
      >
        <span class="whitespace-nowrap">more hardware</span> • <span
          class="whitespace-nowrap">faster build cycles</span
        > • <span class="whitespace-nowrap">stronger aura</span>
      </h2>
    </div>
    <div class="fade-in pt-4 -mr-2">
      <WelcomeButtons client:load />
    </div>
  </div>
</div>
